body {
    padding-top: 50px;
}
.content {
    padding: 40px 15px;
    text-align: left;
    width: 1000px;
    margin: 0 auto;
}
.authorpicture {
    float: right;
    height: 300px;
    width: auto;
}

.post-content {
    margin: 30px 50px;
    width: 70%;
}
p {
    margin: 0 0 20px;
    font-size: 14pt;
}
img {
    width: 70%;
}
#datecell {
    margin: 0 auto;
    text-align: center;
}
#dashcell {
    font-weight: bold;
}
table {
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    border-collapse: collapse;
    border-spacing: 0;
    width: 60em;
    font-size: large;
}
tr {
    border: 1px solid #CCC;
}
td {
    height: 30px;
    background: #FAFAFA;
}

