<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <!-- Bootstrap -->
  {% for css in site.css %}
  <link href={{ css | prepend: site.baseurl }} rel="stylesheet">
  {% endfor %}
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
    extensions: ["tex2jax.js"],
    TeX: { extensions: ["color.js"] },
    tex2jax: {inlineMath: [['\\(','\\)']]},
    processEscapes: true
    });
    MathJax.Hub.Register.StartupHook("TeX Jax Ready",function () {
    MathJax.InputJax.TeX.prefilterHooks.Add(function (data) {
    if (!data.display) {data.math = "\\small{"+data.math+"}"}
    });
    });
  </script>
</head>
