<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <!-- Bootstrap -->
  {% for css in site.css %}
  <link href={{ css | prepend: site.baseurl }} rel="stylesheet">
  {% endfor %}
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</head>
